*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns:  1fr 3fr;
    /* border: 2px solid red; */
    /* padding: 40px; */
}
.leftside{
    background-color: rgb(71, 61, 71);
    position: relative;
    color: white;
}
.profile{
    color: rgb(234, 231, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid red;
}
.profile img{
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.profile h2{
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}
.profile span{
    font-size: 1.6em;
    font-weight: 300;
    
}
.contactinfo{
    padding: 40px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    list-style: none;
    position: relative;
    margin: 10px;
}
.contactinfo ul li .icon{ 
    display: inline-block;
    font-size : 20px;
    cursor: pointer; 
    margin: 0 10px;  
 }
.contactinfo ul li span{
    color: #a3af03;
    font-weight: 400;
}
.education .title{
    margin: -10px;
    margin-bottom: 10px;
}
.education{
    margin: 50px;
}
.education ul li{
    color: #9faa00;
    padding: 10px 0;
    list-style: none;
    font-weight: 200;
}
.language .title{
    margin-bottom: 20px;
    color: white;
}
.language{
    position: relative;
    color: #a3af03;
}
.language h4{
    margin: 5px;
}
.language .percent{
    position: relative;
    height: 5px;
    width: 100%;
    background: rgb(128, 104, 104);
    display: block;
}
.language .d{
    height: 100%;
    margin-top: 5px;
    background: rgb(68, 0, 255);
}
.language .text{
    margin-top: 20px;
}

.rightside{
    /* padding-right: 15px; */
    color: black;
    background-color: white;
    /* padding-right: 30px; */
}
.about{
    margin-left: 40px;
    margin-top: 40px;
}
.about h3{
    font-weight: 900;
    color: rgba(0, 0, 255, 0.925);
}
.about p{
    font-size: large;
    font-weight: 300;
    margin-top: 5px;
}
.personality ul{
    list-style: none;
    margin-top: 10px;
    font-size: large;
    font-weight: 300;
    /* margin-top: 5px; */
}
.project .h{
    padding-bottom: 20px;
}
.project .game{
    color: rgb(252, 7, 129) ;

}
.project p{
    font-size: large;
    font-weight: 300;
    margin-top: 5px;

}
.project img{
    padding-top: 40px;
}

.interest ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto  auto auto;
    font-size: large;
    padding-bottom: 30px;
}
.interest .t{
    font-weight: 600;
    /* padding-bottom: 10px; */
}
.footer{
    
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 500;
    padding-right: 0px;
}
@media(max-width: 1000px){
    .container{
        grid-template-columns: repeat(1,1fr);
        margin: 10px;
    }
}  
@media(max-width : 400px){
    .container{
        grid-template-columns: repeat(1,1fr);
        margin-left: -20px;
    }

}

